#pytesseract~=0.3.9
PyAutoGUI~=0.9.53
#keyboard~=0.13.5
pywin32~=303
modules~=1.0.0
pynput~=1.7.6
mss~=6.1.0
Cython~=0.29.28
opencv-python~=4.5.5.62
#thop~=0.0.31.post2005241907
torch~=1.10.1+cu113
matplotlib~=3.5.1
numpy~=1.22.1
pandas~=1.3.5
#seaborn~=0.11.2
Pillow~=9.0.0
torchvision~=0.11.2+cu113
PyYAML~=6.0
tqdm~=4.62.3
requests~=2.27.1